body {
	font-family: var(--font-primary);
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -0.016em;

	color: var(--font-color-primary);

	background-color: var(--bg-primary);
}

.btn {
	font-weight: 700;
	font-size: 24px;
	line-height: 1,33;
	letter-spacing: -0.024em;

	color: var(--font-color-third);

	padding: 0;
}

.card {}