/* ======== Variables ======= */
:root {
	// Background colors
	--bg-primary: #0A0C0F;
	--bg-secondary: #181B20;
	--bg-inner: rgba(255, 255, 255, 0.08);

	// Fonts
	--font-primary: 'Inter', sans-serif;
	--font-secondary: 'Roboto', sans-serif;
	--font-third: 'Roboto', sans-serif;

	--font-color-primary: rgba(255, 255, 255, 0.36);
	--font-color-secondary: #ffffff;
	--font-color-third: #0A0C0F;
}
/* ========================== */

